.request-for-vacation {
    position: absolute;
    background-color: #FFFFFF;
    height: 591px;
    width: 416px;
    margin-top: 8px;
    margin-left: 392px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(32, 75, 146, 0.5);
}

.header-request {

    width: 416px;
    background: #F6F8FD;
    border-radius: 10px 10px 0px 0px;
    height: 51px;
}

.text-request-for-vacation {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 14.5px;
    font-stretch: condensed;
    margin-left: 20.8px;
    letter-spacing: 0.6px;
    word-spacing: 0px;
    margin-top: 18px;
}

.header-request img {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 9px;
    margin-top: 17px;
}

.block-vacation {
    height: 83.5px;
    border-bottom: 1px solid #F1F2F7;
}

.div-img img {
    height: 42px;
    width: 42.5px;
    margin-left: 22px;
    margin-top: 17.5px;
}

.vacation-date {
    font-stretch: condensed;
    margin-left: 76.5px;
    margin-top: -50px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13.5px;
    line-height: 20px;
    letter-spacing: 0.55px;
    word-spacing: -2.1px;
    color: #333D47;
}

.date-created {
    margin-left: 76px;
    font-family: " Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: -0.55px;
    word-spacing: 0px;
    color: #333D47;
}

.pending-approval {
    margin-top: 10px;
    margin-left: 76px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 9px;
    letter-spacing: 0.1px;
    word-spacing: -0.5px;
    color: #AFB7BF;
}

.block-already-approved {
    font-family: "Open Sans", sans-serif;
    margin-top: 7px;
    margin-left: 24.5px;
    height: 115.5px;
}

.div-already-approved {
    font-weight: 600;
    font-size: 9.5px;
    color: #AFB7BF;
    line-height: 33.5px;
    word-spacing: 1.3px;
    letter-spacing: -0.5px;
}

.employee-already-approved {
    height: 37px;
}

.block-already-approved img {
    margin-left: 0.1px;
    height: 27px;
    width: 27px;
}

.div-name-employee-approved {
    letter-spacing: 0px;
    word-spacing: -0.5px;
    text-decoration-line: underline;
    color: #333D47;
    margin-left: 37px;
    margin-top: -31px;
    font-size: 10.5px;
    font-weight: 550;
    line-height: 13px;
}

.div-employee-comments {
    color: #333D47;
    margin-left: 38.5px;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    line-height: 16px;
    word-spacing: -0.45px;
    letter-spacing: -0.289412px;
    color: #333D47;
}

.block-current-approvers {
    font-family: "Open Sans", sans-serif;
    margin-left: 25px;
    height: 74px;
}

.div-current-approved {
    font-size: 10px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.8px;
    word-spacing: 1px;
    text-transform: uppercase;
    color: #AFB7BF;
}

.employee-current-approved {

}

.employee-current-approved img {
    height: 27px;
    width: 27px;
}

.div-name-employee-current-approved {
    margin-top: -23.5px;
    margin-left: 38.5px;
    letter-spacing: -0.45px;
    word-spacing: -0px;
    text-decoration-line: underline;
    font-size: 11.5px;
    font-weight: 600;
    color: #333D47;
}

.block-next-approvers {
    font-family: "Open Sans", sans-serif;
    margin-left: 24.5px;
    height: 108.5px;
}

.div-next-approver {
    font-size: 10px;
    text-transform: uppercase;
    color: #AFB7BF;
    font-weight: 600;
    letter-spacing: -0.75px;
    word-spacing: 0.8px;
    line-height: 30px;
}

.employee-next-approved {
    height: 35px;
}

.employee-next-approved img {
    height: 27px;
    width: 27px;
}

.div-name-employee-next-approved {
    font-stretch: condensed;
    margin-left: 37.5px;
    margin-top: -25.5px;
    font-size: 11.5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    word-spacing: -0.2px;
    text-decoration-line: underline;
    color: #333D47;
}

.block-documents-registration {
    font-family: "Open Sans", sans-serif;
    margin-left: 25px;
    height: 87.5px;
}

.div-documents-registration {
    line-height: 30.5px;
    font-size: 10.5px;
    font-weight: 600;
    word-spacing: -0.5px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    color: #AFB7BF;
}

.employee-documents-registration img {
    height: 27px;
    width: 27px;
    margin-left: -0.5px;
    margin-top: -0.5px;
}

.div-name-employee-documents-registration {
    margin-top: -24px;
    margin-left: 39px;
    font-size: 10.5px;
    text-decoration-line: underline;
    font-weight: 600;
    letter-spacing: 0.05px;
    word-spacing: -0.7px;
    color: #333D47;
}

.block-with-button-change {
    position: absolute;
    width: 416px;
    font-family: "Open Sans", sans-serif;
    margin-left: 0px;
    height: 50px;
    background: #F6F8FD;
    border-radius: 0px 0px 10px 10px;
}

.link-cancel-request {
    margin-left: 147px;
    margin-top: 16.5px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    text-decoration: none;
    color: #225FBF;
}

.link-change {
    margin-top: 15px;
    margin-left: 259px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 9.5px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #225FBF;
    text-decoration: none;
}

.link-change:hover {
    border-bottom: 2px solid #225FBF;
}

.button-change {
    width: 75.5px;
    height: 29.5px;
    margin-top: 9px;
    margin-left: 316px;
    position: absolute;
    background: #5495FF;
    border-radius: 3px;
    font-size: 9.5px;
    outline: none;
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.001em;
    text-transform: uppercase;
    color: #FFFFFF;
}
